/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-image: url("./../back-image.png");
  text-align: center;
}

header {
  font-family: "Righteous", cursive;
  font-size: 80px;
  background: -webkit-linear-gradient(#c40736, #1995bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px auto;
}

.wrapper {
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.art-tools {
  border-top: 2px solid #757272c4;
  border-left: 2px solid #757272c4;
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 5px 0px #565353;
}
.art-tools h1 {
  font-size: 25px;
  margin: 10px 0;
}
.art-tools label {
  font-size: 20px;
  margin: 20px 0;
}
.art-tools input {
  width: 100px;
  text-align: center;
  margin: 10px 0 20px 5px;
  font-size: 18px;
  background: none;
  border: none;
  border-bottom: 2px solid;
}
.art-tools input:focus {
  outline: none;
}
.art-tools span {
  font-size: 16px;
}
.art-tools .grid-dimen {
  width: 80%;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 2px 2px 5px 0px #565353;
}
.art-tools .grid-dimen .submit {
  height: 35px;
  width: 130px;
  background: #2ea69a;
  border: none;
  box-shadow: 8px 8px 4px 2px #6c925f;
}
.art-tools .grid-dimen .submit:hover {
  color: white;
  cursor: pointer;
  background: #00bcd4;
  box-shadow: 2.5px 2.5px #69885ef0;
  transition: box-shadow 0.3s ease-in-out;
}
.art-tools .color-pallet {
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px #565353;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.art-tools .color-pallet .colors {
  margin: 10px 0 20px 0;
  width: 190px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  box-shadow: 2px 2px 5px 3px #565353;
}
.art-tools .color-pallet .colors div {
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.art-tools .color-tool {
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px #565353;
  width: 80%;
}
.art-tools .color-tool .tools {
  font-size: 30px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(2, 40px);
  grid-gap: 30px;
  justify-content: center;
}
.art-tools .color-tool .tools div {
  border: 1px solid black;
}
.art-tools .color-tool .tools div:hover {
  cursor: pointer;
  background-color: black;
  color: #fff;
}
.art-tools .color-tool .tools div i {
  margin-top: 3px;
}
.art-tools .current-tools {
  border-radius: 5px;
  width: 80%;
  box-shadow: 2px 2px 5px 0px #565353;
  margin: 20px auto;
}
.art-tools .current-tools .color-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 2em 20px;
}
.art-tools .current-tools .tool-div {
  display: flex;
  flex-direction: row;
  margin: 20px 0 2em 20px;
  align-items: center;
}
.art-tools .current-tools .tool-div .icon {
  margin-top: 0;
  margin-left: 28px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background: #fff;
}

.clr {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: #fff;
}

.art-feild {
  width: 70%;
}
.art-feild .draw-canvas {
  border-top: 2px solid #757272c4;
  border-left: 2px solid #757272c4;
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
  height: 90px;
  text-align: center;
  box-shadow: 2px 2px 5px 0px #565353;
}
.art-feild .draw-canvas h1 {
  font-size: 30px;
  padding: 10px 0;
}
.art-feild .grid-area {
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  display: grid;
}

.pixel {
  width: 20px;
  height: 20px;
  background: #f1eaea;
  border: 1px solid #80807f;
}

footer .download-canvas h1 {
  font-size: 30px;
  margin: 10px 0;
}
footer .download-canvas button {
  margin-bottom: 20px;
  font-size: 20px;
  height: 35px;
  width: 130px;
  background: #2ea69a;
  border: none;
  box-shadow: 8px 8px 4px 2px #ad923c;
}
footer .download-canvas button:focus {
  outline: none;
}
footer .download-canvas button:hover {
  cursor: pointer;
  color: #fff;
  background: #00bcd4;
  box-shadow: 2.5px 2.5px #69885ef0;
  transition: box-shadow 0.3s ease-in-out;
}
footer .contact {
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px #565353;
  width: 80%;
  padding: 15px 0;
  margin: 0 auto;
}
footer .contact h1 {
  font-size: 20px;
  padding-bottom: 10px;
}
footer .contact nav * {
  margin: 0 5px;
  display: inline-block;
}
footer .contact li {
  font-size: 30px;
}
footer .contact i {
  color: black;
}
footer .contact i:hover {
  color: blue;
}
footer p {
  margin: 30px;
}

/* Color Pallet Color */
.red {
  background-color: #ee204d;
}

.pink {
  background-color: #f780a1;
}

.orange {
  background-color: #ff7538;
}

.yellow {
  background-color: #fdfc74;
}

.neon-carrot {
  background-color: #ffa343;
}

.sun-glow {
  background-color: #ffcf48;
}

.sunset {
  background-color: #fd5e53;
}

.peach {
  background-color: #ffcfab;
}

.canary {
  background-color: #ffff99;
}

.sea-green {
  background-color: #9fe2bf;
}

.fern {
  background-color: #71bc78;
}

.caribbean {
  background-color: #1cd3a2;
}

.tropical-green {
  background-color: #17806d;
}

.eletric-lime {
  background-color: #1df914;
}

.screamin-green {
  background-color: #76ff7a;
}

.green {
  background-color: #1cac78;
}

.blue {
  background-color: #1f75fe;
}

.pacific-blue {
  background-color: #1ca9c9;
}

.midnight-blue {
  background-color: #1a4876;
}

.indigo {
  background-color: #5d76cb;
}

.purple {
  background-color: #7851a9;
}

.plum {
  background-color: #8e4584;
}

.shadow {
  background-color: #8a795d;
}

.sepia {
  background-color: #a5694f;
}

.brass {
  background-color: #cd9575;
}

.gold {
  background-color: #e7c697;
}

.apricot {
  background-color: #fdd9b5;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #232323;
}

.outer-space {
  background-color: #414a4c;
}

.grey {
  background-color: #95918c;
}

.manatee {
  background-color: #979aaa;
}

.wild-blue {
  background-color: #a2add0;
}

.scarlet {
  background-color: #fc2847;
}

.mahogany {
  background-color: #cd4a4a;
}

.brick-red {
  background-color: #cb4154;
}

.wuzzy {
  background-color: #cc6666;
}

/*# sourceMappingURL=index.css.map */
