html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: #252427;
  color: white;
}

.wraper {
  width: 100%;
  /* he5ght: 100vh; */
  padding: 5rem 0;
}

.container {
  margin: 0 auto;
  width: 95%;
  border: 8px solid white;
  border-radius: 40px;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10em;
  margin-top: 10px;
}

.left-head {
  /* border: 1px solid red; */
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-top: 1.5rem;
}
.right-head {
  /* border: 1px solid red; */
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.left-head div {
  margin: 0 20px 0 0;
  align-items: ceter;
}
.right-head div {
  margin: 0 20px 0 0;
  align-items: ceter;
}

.symbol {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-right: 0;
}

.symbol hr {
  margin-top: 5px;
  width: 50%;
  border-top: 1px solid #252427;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-template-rows: 1fr;
}

.design {
  display: flex;
  flex-direction: row;
}

.hr-line{
  border-bottom: .5px solid #707277;
  margin-left: 5px;
  width: 150px;
  height: 13px;
}

.main-title {
  letter-spacing: 3px;
  line-height: 1.2em;
  font-size: 55px;
  font-weight: var(--super-dark);
}

.col-1 {
  margin-left: 15%;
  /* border: 1px solid blue; */
}

.design h3 {
  color: var(--h5);
  margin-bottom: 2em;
}

.plus {
  font-size: 30px;
  width: 60px;
  height: 60px;
  /* border: 1px solid red; */
  border-radius: 50%;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  padding-top: 15px;
  margin-right: 12px;
  
}

.combine {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--white);
}


.chat-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 85%;
  /* border: 1px solid red; */
  color: var(--black);
  background-color: white;
  margin-top: 5em;
  position: absolute;
  bottom: 0;
}

.chat-box h4 {
  /* border: 1px solid red; */
  
  margin-left: 2em;
  margin-bottom: 2em;
  padding-top: 1.5em;
}

.k {
  /* border: 1px solid red; */
  color: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--symbol);
  text-align: center;
  padding-top: 13px;
  /* margin-right: -2em; */
  margin-left: 30px;
}

.chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-box p {
  /* border: 1px solid red; */
  line-height: 1.5em;
  font-size: 13px;
}

.time {
  /* border: 1px solid blue; */
  color: var(--symbol);
  margin-right: 10px;
}

.col-1-base {
  /* border: 2px solid yellow; */
  position: relative;
  height: 100%;
}

.chat-btn {
  text-align: right;
}

button {
  font-size: 10px;
  color: var(--white);
  border-style: none;
  padding: 5px 20px;
  background-color: var(--black);
  margin: 1em 1.2em 2em 0;
  border-radius: 3px;
}

.col-2 {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  color: var(--black);
  grid-template-columns: 35% 40%;
  /* grid-template-rows: 200px 300px 100px; */
  margin-right: 3em;
  margin-bottom: 6em;
  position: relative;
}

.a {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: var(--white);
  margin-top: 5em;
}

.b {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--white);
  height: 350px;
}

.c {
  grid-column: 2/3;
  grid-row: 2/4;
  background-color: var(--white);
  height: 150px;
}
 
h5 {
  font-size: 10px ;
  margin: 30px 0 20px 20px;
}

.a h2 {
  line-height: 1.4em;
  word-spacing: 5px;
  font-size: 20px;
  font-weight: var(--medium);
  margin-left: 20px;
  margin-bottom: 1em;
}

.a p {
  font-size: 8px;
  margin-left: 20px;
  line-height: 1.5em;
  color: #5b5c5f;
}

.a button {
  margin-left: 20px;
}

.a .hr-line {
  margin-left: 20px;
  margin-bottom: 1em;
}

img {
  border: 1px solid var(--black);
  width: 15%;
  height: 13%;
  border-radius: 50%;
  margin: 6% 42.5%;
}

.b h2 {
  text-align: center;
  font-weight: var(--dark);
  font-size: 18px;
  margin-bottom: 15px;
}

.b h3 {
  text-align: center;
  color: #5b5c5f;
  font-size: 14px;
  margin-bottom: 30px;
}

.b h1 {
  margin-left: 20px;
  font-size: 19px;
  color: #252427;
}

.b h1 div {
  font-size: 13px;
  line-height: 25px;
  color: #5b5c5f;
}

.com-arw {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.arrow {
  font-size: 40px;
  color: #5b5c5f;
  margin-right: 10px;
}

.graph {
  display: flex;
  /* flex-flow: row nowrap ; */
  width: 90%;
  margin: 0 20px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);

}

.graph div {
  background-color: var(--black);
  width: 10%;
  margin-right: 10px;
  border-radius: 5px;
}

.days {
  margin: 30px 20px;
  display: flex;

}

.days div {
  margin-right: 11px;
  font-size: 14px;
  color: #5b5c5f;
}

.bar-1 {
  height: 40px;
}

.bar-2 {
  height: 20px;
  margin-top: -20px;
}

.bar-3 {
  height: 30px;
}

.bar-4 {
  height: 50px;
}

.bar-5 {
  height: 10px;
  margin-top: -15px;
}

.bar-6 {
  height: 45px;
}

.bar-7 {
  height: 15px;
}

.c h2 {
  font-size: 12px;
  margin: 20px 10px 10px 20px;
  color: #5b5c5f;
}

.c h1 {
  font-size: 20px;
  font-weight: var(--dark);
  margin: 0 10px 10px 20px;
}

.status {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.status .time {
  margin: 0 20px;
  font-size: 12px;
  color: #5b5c5f;
}

.links  {
  position: absolute;
  display: flex;
  flex-flow: row;
  bottom: 0;
  right: 0;
  margin: 0 110px 40px 0;
  color: var(--white);
}
a { 
  color: var(--white);
  margin: 0 10px;
  text-decoration: none;
}








