/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 600px;
  height: 600px;
  /* background: url(painting.png) no-repeat; */
  display: grid;
  grid-gap: 25px 20px;
  grid-template-columns: 128px 388px 45px 61px;
  grid-template-rows: 178px 230px 60px;
}

div {
	border: 1px solid black;
	background-color: black;
	/* opacity: 0.5; */
}

.a {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: white;
}

.b {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: white;
}

.c {
  grid-column: 2/4;
  grid-row: 1/3;
  background-color: red;
}

.d {
  grid-column: 1/2;
  grid-row: 3/5;
  background-color: blue;
}

.e {
  grid-column: 2/3;
  grid-row: 3/5;  
  background-color: white;
}

.f {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: white;
}

.g {
  grid-column: 3/4;
  grid-row: 4/5;
  background-color: yellow;
  
}


@media (min-width:750px) and (max-width:950px){

.wrapper {
  transform: rotate(180deg);
  background-color: green;
}

}

@media (max-width: 749px) {
  .wrapper {
    display: block;
    background-color: orange;
  }
}




