html {
    box-sizing: border-box;
}
*, *:after, *::before {
    box-sizing: border-box;
}
body {
    background-color: yellow;
    
}
section {
    border: 1px solid black;
    
}
img {
    border: 1px solid red;
    border-radius: 25%;
}
