//Media Quries
@media screen and (max-width: 420px) {
  .title {
    color: #00bcd4;
    img {
      width: 9%;
    }
    #first-img {
      transform: scaleX(-1);
    }
    h1 {
      height: 40px;
      border-radius: 10px;
      color: hsla(0, 0%, 0%, 0.9);
      font: normal 36px Varela Round, sans-serif;
      animation: move linear 2000ms infinite;
    }
  }
  .game-details {
    width: 90%;
  }
  .option {
    width: 80%;
    font-size: 18px;
  }

  .level {
    button {
      font-size: 18px;
      padding: 6px;
    }
  }

  .game-platform {
    padding: 10px;
    margin: 20px 50px;
    .icon {
      font-size: 30px;
      width: 50px;
      height: 50px;
    }
  }

  .game-completed {
    width: 95%;
    top: 40%;
    p {
      font-size: 14px;
      padding: 10px;
      line-height: 16px;
    }
  }

  .play-again {
    .yes-no {
      button {
        padding: 3px 15px;
        border-radius: 5px;
      }
    }
    .yes {
      font-size: 18px;
    }
    .no {
      font-size: 18px;
    }
    .progress {
      margin: 10px;
    }
  }
  footer {
    color: #fff;
    padding: 5px;
    font-size: 18px;
  }

  table {
    caption {
      font-size: 18px;
    }
    th {
      font-size: 18px;
    }
    td {
      font-size: 18px;
    }
  }

  .play {
    padding: 5px;
    font-size: 25px;
  }

  form {
    justify-content: center;
    width: 95%;
    position: fixed;
  }
}
