html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  
    margin: 4rem;
}
.wrapper {
    width: 400px;
    height: 530px;
}
.screen input {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    padding: 0;
    font-size: 3rem;
    text-align: right;
    border: none;
}
.calc {
    display: flex;
    width: 100%;
    height: 90px;

}

input {
    border: 1px solid black;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
}
#cancel{
    flex-grow: 2.4;

}
#zero {
    flex-grow: 4.1;
}
#arrow {
    width: 8.9%;
}
#lftSide {
    background-color: #dd8d37;
    color: white;
}